<%= render 'shared/user_header' %>
<div class="folders round">
	<% if @folders.empty? %>
		<h2>You have no folders!
		<%= link_to "Create New Folder", new_folder_path %></h2>
	<% else %>
		<%= image_tag("folders.png", :alt => "Current Folders") %>
		<div class="newfolder">
			<h2><%= link_to new_folder, new_folder_path %></h2>
		</div>	
		<table class="folders">
			<%= render 'shared/folders' %>
		</table>
	<% end %>
</div>