<div class="folders round">
	<h1><%= image_tag('welcome_logo.png', :alt => "Welcome to Briefspace") %>, 
		<%= /\w*\s/.match(@user.name) %></h1>
	<table class="usermain">
		<tr>
			<td>
				<h2><b>Your current folders:</b></h2><br />
				<% if @user.folders.empty? %>
				<p>You have no folders!</p>  
				<p>Create your first folder by clicking
					<%= link_to "New Folder", new_folder_path %></p>
				<% else %>
				<% @folders.each do |folder| %>
					<ul>
						<li><%= link_to "#{folder.name}", "/folders/#{folder.id}" %></li>
					</ul>
				<% end %>
				<% end %>
			</td>
			<td>
				<h2><b>Your profile:</b></h2><br />
				<%= render 'shared/profile_table' %>
			</td>
		</tr>
	</table>
	<div class="gravinfo">
		<h2><b>Gravatar Information</b></h2>
		<p>Would you like to add or change your profile picture?  Gravatar is an 	
			easy and efficient way to manage profile pictures across member 	 
			websites.  Just visit <%= link_to "gravatar.com", 
			"http://gravatar.com" %>.</p>
	</div>
</div>