<div class="header">
	<%= image_tag('header.png', :alt => "header") %>
	<div class="search">
		<%= form_tag folders_path, :method => 'get' do %>
		<%= text_field_tag(:search, "Enter search terms here", 
							:size => 50) %>
			<%= submit_tag "Search", :name => nil %>
			<% end %>
	</div>
	<div class="links">
		<ul>
			<li><%= link_to edit_button, edit_user_registration_path %></li>
			<li><%= link_to out_button, destroy_user_session_path %></li>
		</ul>
	</div>
</div>