<div class="folders round">
	<h1><%= image_tag('welcome_logo.png', :alt => "Welcome to Briefspace") %>, 
		<%= /\w*\s/.match(@user.name) %></h1>
	<table class="usermain">
		<tr>
			<td>
				<h2><b>Here is a list of your current folders:</b></h2><br />
				<% @folders.each do |folder| %>
					<ul>
						<li><%= link_to "#{folder.name}", "/folders/#{folder.id}" %></li>
					</ul>
				<% end %>
			</td>
			<td>
				<h2><b>Your profile:</b></h2><br />
				<ul>
					<li><b>Name: </b><%= @user.name %></li>
					<li><b>Email: </b><%= @user.email %></li>
					<li><b>Member Since: </b><%= (@user.created_at.to_formatted_s(
								:long_ordinal)).gsub! /\d\d\:\d\d/, '' %></li>
					<li><b>Last Sign in: </b>
									<%= (@user.last_sign_in_at.to_formatted_s(
									:long_ordinal)).gsub! /\d\d\:\d\d/, '' %></li>
				</ul>
			</td>
		</tr>
	</table>
	<div class="gravinfo">
		<h2><b>Gravatar Information</b></h2>
		<p>Would you like to add or change your profile picture?  Gravatar is an 	
			easy and efficient way to manage profile pictures across member 	 
			websites.  Just visit <%= link_to "gravatar.com", 
			"http://gravatar.com" %>.</p>
	</div>
</div>